In [1]:
import pandas as pd
import numpy as np

In [2]:
# 1. Write a Python program to create and display a one-dimensional array-like object containing an array of data 
# using Pandas module. 

x = pd.Series([0,1,5,1])
print(x)

0    0
1    1
2    5
3    1
dtype: int64

In [3]:
# 2. Write a Python program to convert a Panda module Series to Python list and it's type. 

x = pd.Series([0,1,5,1])
print(x)

y = x.tolist()
print(y)

print(type(y))

0    0
1    1
2    5
3    1
dtype: int64
[0, 1, 5, 1]
<class 'list'>

In [4]:
# 3. Write a Python program to add, subtract, multiple and divide two Pandas Series. 

x = pd.Series([0,1,5,1])
print(x)

y = pd.Series([1,4,8,2])
print(y)

add = x + y
print(add)

subtract = x - y
print(subtract)

multiply = x * y
print(multiply)

divide = x / y
print(divide)

0    0
1    1
2    5
3    1
dtype: int64
0    1
1    4
2    8
3    2
dtype: int64
0     1
1     5
2    13
3     3
dtype: int64
0   -1
1   -3
2   -3
3   -1
dtype: int64
0     0
1     4
2    40
3     2
dtype: int64
0    0.000
1    0.250
2    0.625
3    0.500
dtype: float64

In [5]:
# 4. Write a Pandas program to compare the elements of the two Pandas Series.

x = pd.Series([0,4,5,1])
print(x)

y = pd.Series([1,4,8,2])
print(y)

print(x == y)
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

0    0
1    4
2    5
3    1
dtype: int64
0    1
1    4
2    8
3    2
dtype: int64
0    False
1     True
2    False
3    False
dtype: bool
0    False
1    False
2    False
3    False
dtype: bool
0     True
1    False
2     True
3     True
dtype: bool
0    False
1     True
2    False
3    False
dtype: bool
0    True
1    True
2    True
3    True
dtype: bool

In [6]:
# 5. Write a Python program to convert a dictionary to a Pandas series.

x = {'Fruit':'Apple', 'Vegetable':'Peas', 'Drink':'Coffee'}
print(x)

print(pd.Series(x))

{'Fruit': 'Apple', 'Vegetable': 'Peas', 'Drink': 'Coffee'}
Fruit         Apple
Vegetable      Peas
Drink        Coffee
dtype: object

In [7]:
# 6. Write a Python program to convert a NumPy array to a Pandas series. 

x = np.array([6,0,9,1,2])
print(x)

print(pd.Series(x))

[6 0 9 1 2]
0    6
1    0
2    9
3    1
4    2
dtype: int64

In [8]:
# 7. Write a Python program to change the data type of a given column or a Series.

x = pd.Series(['0','4.05','591.4','Python'])
print(x)

print(pd.to_numeric(x, errors ='coerce'))

0         0
1      4.05
2     591.4
3    Python
dtype: object
0      0.00
1      4.05
2    591.40
3       NaN
dtype: float64

In [9]:
# 8. Write a Python Pandas program to convert the first column of a DataFrame as a Series.

x = pd.DataFrame({'Col1':['0','4.05','591.4','23'], 'Col2':['0.2','4.0','592','26'], 'Col3':['10','45','594','31']})
print(x)
                  
print(x.iloc[:,0])

    Col1 Col2 Col3
0      0  0.2   10
1   4.05  4.0   45
2  591.4  592  594
3     23   26   31
0        0
1     4.05
2    591.4
3       23
Name: Col1, dtype: object

In [10]:
# 9. Write a Pandas program to convert a given Series to an array. 

x = pd.Series(['0','4.05','591.4','Python'])
print(x)

print(np.array(x))

0         0
1      4.05
2     591.4
3    Python
dtype: object
['0' '4.05' '591.4' 'Python']

In [11]:
# 10. Write a Pandas program to convert Series of lists to one Series. 

x = pd.Series([[1,4,5],[5,6,1],[8,0,9]])
print(x)

print(x.apply(pd.Series))
print(x.apply(pd.Series).stack())
print(x.apply(pd.Series).stack().reset_index(drop = True))

0    [1, 4, 5]
1    [5, 6, 1]
2    [8, 0, 9]
dtype: object
   0  1  2
0  1  4  5
1  5  6  1
2  8  0  9
0  0    1
   1    4
   2    5
1  0    5
   1    6
   2    1
2  0    8
   1    0
   2    9
dtype: int64
0    1
1    4
2    5
3    5
4    6
5    1
6    8
7    0
8    9
dtype: int64

In [12]:
# 11. Write a Pandas program to sort a given Series. 

x = pd.Series([1,4,5,8,0,9])
print(x)

print(x.sort_values())

0    1
1    4
2    5
3    8
4    0
5    9
dtype: int64
4    0
0    1
1    4
2    5
3    8
5    9
dtype: int64

In [13]:
# 12. Write a Pandas program to add some data to an existing Series. 

x = pd.Series([1,4,5,8,0,9])
print(x)

print(x.append(pd.Series([7,6,5])))

0    1
1    4
2    5
3    8
4    0
5    9
dtype: int64
0    1
1    4
2    5
3    8
4    0
5    9
0    7
1    6
2    5
dtype: int64

In [14]:
# 13. Write a Pandas program to create a subset of a given series based on value and condition. 

x = pd.Series([1,4,5,8,0,9])
print(x)

x_subset = x[x < 8]
print(x_subset)

0    1
1    4
2    5
3    8
4    0
5    9
dtype: int64
0    1
1    4
2    5
4    0
dtype: int64

In [15]:
# 14. Write a Pandas program to change the order of index of a given series. 

x = pd.Series(data=[4,5,6,0,1,2,7], index=['A','B','C','D','E','F','G'])
print(x)

print(x.reindex(index=['F','B','A','D','E','G','C']))

A    4
B    5
C    6
D    0
E    1
F    2
G    7
dtype: int64
F    2
B    5
A    4
D    0
E    1
G    7
C    6
dtype: int64

In [16]:
# 15. Write a Pandas program to create the mean and standard deviation of the data of a given Series. 

x = pd.Series([1,4,5,8,0,9])
print(x)

print(x.mean())
print(x.std())

0    1
1    4
2    5
3    8
4    0
5    9
dtype: int64
4.5
3.6193922141707713

In [17]:
# 16. Write a Pandas program to get the items of a given series not present in another given series. 

x = pd.Series([1,4,5,8,0,9])
print(x)

y = pd.Series([2,4,3,8,0,7])
print(y)

print(x[~x.isin(y)])

0    1
1    4
2    5
3    8
4    0
5    9
dtype: int64
0    2
1    4
2    3
3    8
4    0
5    7
dtype: int64
0    1
2    5
5    9
dtype: int64

In [18]:
# 17. Write a Pandas program to get the items which are not common of two given series. 

x = pd.Series([1,4,5,8,0,9])
print(x)

y = pd.Series([2,4,3,8,0,7])
print(y)

union = pd.Series(np.union1d(x,y))
print(union)
intersect = pd.Series(np.intersect1d(x,y))
print(intersect)

0    1
1    4
2    5
3    8
4    0
5    9
dtype: int64
0    2
1    4
2    3
3    8
4    0
5    7
dtype: int64
0    0
1    1
2    2
3    3
4    4
5    5
6    7
7    8
8    9
dtype: int64
0    0
1    4
2    8
dtype: int64

In [19]:
# 18. Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series. 

x = pd.Series([1,4,5,8,0,9])
print(x)

print(np.percentile(x, [0,25,50,75,100]))

0    1
1    4
2    5
3    8
4    0
5    9
dtype: int64
[0.   1.75 4.5  7.25 9.  ]

In [20]:
# 19. Write a Pandas program to calculate the frequency counts of each unique value of a given series.

x = pd.Series([1,4,5,8,0,9,4,5,0,7,9,1,1,1])
print(x)

print(x.value_counts())

0     1
1     4
2     5
3     8
4     0
5     9
6     4
7     5
8     0
9     7
10    9
11    1
12    1
13    1
dtype: int64
1    4
9    2
5    2
4    2
0    2
8    1
7    1
dtype: int64

In [21]:
# 20. Write a Pandas program to display most frequent value in a given series and replace everything else as 'Other' 
# in the series. 

x = pd.Series([1,4,5,8,0,9,4,5,0,7,9,1,1,1])
print(x)

y = x.value_counts()
print(y)

0     1
1     4
2     5
3     8
4     0
5     9
6     4
7     5
8     0
9     7
10    9
11    1
12    1
13    1
dtype: int64
1    4
9    2
5    2
4    2
0    2
8    1
7    1
dtype: int64

In [22]:
# 21. Write a Pandas program to find the positions of numbers that are multiples of 5 of a given series.

x = pd.Series([1,14,5,83,0,9,4,5,0,17,90,25,24,10])
print(x)

print(np.argwhere(x % 5 == 0))

0      1
1     14
2      5
3     83
4      0
5      9
6      4
7      5
8      0
9     17
10    90
11    25
12    24
13    10
dtype: int64
[[ 2]
 [ 4]
 [ 7]
 [ 8]
 [10]
 [11]
 [13]]

/Users/ankurrastogi/opt/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:61: FutureWarning: Series.nonzero() is deprecated and will be removed in a future version.Use Series.to_numpy().nonzero() instead
  return bound(*args, **kwds)

In [23]:
# 22. Write a Pandas program to extract items at given positions of a given series. 

x = pd.Series([1,14,5,83,0,9,4,5,0,17,90,25,24,10])
print(x)

pos = [0,3,4,6,9]

print(x.take(pos))

0      1
1     14
2      5
3     83
4      0
5      9
6      4
7      5
8      0
9     17
10    90
11    25
12    24
13    10
dtype: int64
0     1
3    83
4     0
6     4
9    17
dtype: int64

In [24]:
# 23. Write a Pandas program to get the positions of items of a given series in another given series.

x = pd.Series([1,14,5,0,9,4,5,0,17,25,10])
print(x)

y = pd.Series([1,0,4,17,25,10])
print(y)

z = [pd.Index(x).get_loc(i) for i in y]
print(z)

0      1
1     14
2      5
3      0
4      9
5      4
6      5
7      0
8     17
9     25
10    10
dtype: int64
0     1
1     0
2     4
3    17
4    25
5    10
dtype: int64
[0, array([False, False, False,  True, False, False, False,  True, False,
       False, False]), 5, 8, 9, 10]

In [25]:
# 24. Write a Pandas program convert the first and last character of each word to upper case in each word of a given 
# series. 

x = pd.Series(['ankur','chetna','neelima','akhil','anupriya','mohit'])
print(x)

y = x.map(lambda i: i[0].upper() + i[1:-1] + i[-1].upper())
print(y)

0       ankur
1      chetna
2     neelima
3       akhil
4    anupriya
5       mohit
dtype: object
0       AnkuR
1      ChetnA
2     NeelimA
3       AkhiL
4    AnupriyA
5       MohiT
dtype: object

In [26]:
# 25. Write a Pandas program to calculate the number of characters in each word in a given series. 

x = pd.Series(['ankur','chetna','neelima','akhil','anupriya','mohit'])
print(x)

print(x.map(lambda i: len(i)))

0       ankur
1      chetna
2     neelima
3       akhil
4    anupriya
5       mohit
dtype: object
0    5
1    6
2    7
3    5
4    8
5    5
dtype: int64

In [27]:
# 26. Write a Pandas program to compute difference of differences between consecutive numbers of a given series. 

x = pd.Series([5,9,5.5,3,2,0,12,3.4,7,6.78])
print(x)

#difference between consecutive numbers of a given series
print(x.diff().tolist())
#difference of difference between consecutive numbers of a given series
print(x.diff().diff().tolist())

0     5.00
1     9.00
2     5.50
3     3.00
4     2.00
5     0.00
6    12.00
7     3.40
8     7.00
9     6.78
dtype: float64
[nan, 4.0, -3.5, -2.5, -1.0, -2.0, 12.0, -8.6, 3.6, -0.21999999999999975]
[nan, nan, -7.5, 1.0, 1.5, -1.0, 14.0, -20.6, 12.2, -3.82]

In [28]:
# 27. Write a Pandas program to convert a series of date strings to a timeseries. 

x = pd.Series(['09 Feb 2020', '12/01/2020', '21-03-2020', '30 Apr 2020 11:40'])
print(x)

print(pd.to_datetime(x))

0          09 Feb 2020
1           12/01/2020
2           21-03-2020
3    30 Apr 2020 11:40
dtype: object
0   2020-02-09 00:00:00
1   2020-12-01 00:00:00
2   2020-03-21 00:00:00
3   2020-04-30 11:40:00
dtype: datetime64[ns]

In [29]:
# 28. Write a Pandas program to get the day of month, day of year, week number and day of week from a given series 
# of date strings. 

dateSeries = pd.Series(['09 Feb 2020', '12/01/2020', '21-03-2020', '30 Apr 2020 11:40'])
print(dateSeries)

#parse from dateutil.pareser will help to parse the different formats of date
from dateutil.parser import parse

#map function will return a map object (an iterator) of the results after applying the given function to each item
dateSeries = dateSeries.map(lambda x: parse(x))
print(dateSeries)

print("Day of month", dateSeries.dt.day.tolist())
print("Day of year", dateSeries.dt.dayofyear.tolist())
print("Week number", dateSeries.dt.weekofyear.tolist())
print("Day of week", dateSeries.dt.weekday_name.tolist())

0          09 Feb 2020
1           12/01/2020
2           21-03-2020
3    30 Apr 2020 11:40
dtype: object
0   2020-02-09 00:00:00
1   2020-12-01 00:00:00
2   2020-03-21 00:00:00
3   2020-04-30 11:40:00
dtype: datetime64[ns]
Day of month [9, 1, 21, 30]
Day of year [40, 336, 81, 121]
Week number [6, 49, 12, 18]
Day of week ['Sunday', 'Tuesday', 'Saturday', 'Thursday']

In [30]:
# 29. Write a Pandas program to convert year-month string to dates adding a specified day of the month.

yearMonth = pd.Series(['Jan 2020', 'April 2019', 'December 2017'])
print(yearMonth)

print(yearMonth.map(lambda x: parse(x)))
print(yearMonth.map(lambda x: parse('10' + x)))

0         Jan 2020
1       April 2019
2    December 2017
dtype: object
0   2020-01-26
1   2019-04-26
2   2017-12-26
dtype: datetime64[ns]
0   2020-01-10
1   2019-04-10
2   2017-12-10
dtype: datetime64[ns]

In [31]:
# 30. Write a Pandas program to filter words from a given series that contain atleast two vowels.

words = pd.Series(['February','April','Red','Lion','Couch'])
print(words)

from collections import Counter

vowels = ['a','e','i','o','u']
#vowels = set('aeiou') 
print(vowels)

#first converting the words to lower case
#Applying counter function to get the hash table
#Looping over the vowels to check if the word has that vowel or not, if yes returning the value else 0
#finding the sum for all the vowels
#checking if the sum is greater than 2 and returning the boolean value
#printing the word at those indexes which has True as the boolean value
counter = words.map(lambda c: sum([Counter(c.lower()).get(i,0) for i in vowels]) >=2)
print(words[counter])

0    February
1       April
2         Red
3        Lion
4       Couch
dtype: object
['a', 'e', 'i', 'o', 'u']
0    February
1       April
3        Lion
4       Couch
dtype: object

In [32]:
# 31. Write a Pandas program to compute the Euclidean distance between two given series. 

x = pd.Series([1,4,5,7,0,1,4,5,9]) 
print(x)

y = pd.Series([9,1,5,9,3,5,6,7,98])
print(y)

#As Euclidean distance is L2 norm and the default value of ord parameter in numpy.linalg.norm is 2, 
#so using that to calculate Euclidean distance.
print(np.linalg.norm(x-y))

0    1
1    4
2    5
3    7
4    0
5    1
6    4
7    5
8    9
dtype: int64
0     9
1     1
2     5
3     9
4     3
5     5
6     6
7     7
8    98
dtype: int64
89.61584681293817

In [33]:
# 32. Write a Pandas program to find the positions of the values neighboured by smaller values on both sides in a 
# given series.

x = pd.Series([1,4,2,7,0,1,4,5,9]) 
#print(x)

#zipping the series in the form of tuples with 3 values each
y = zip(x, x[1:], x[2:])
#print(tuple(y))

result = []
#we can get the correct index if we start indexing from 1 as the middle most value is required by us in order to get the index
for i, (a,b,c) in enumerate(y,1):
    if a < b > c:
        #print(i,(a,b,c))
        result.append(i)
print(result)
        
#One line solution:
#print([i for i, (a,b,c) in enumerate(zip(x, x[1:], x[2:]),1) if a < b > c])

[1, 3]

In [34]:
# 33. Write a Pandas program to replace missing white spaces in a given string with the least frequent character.

string = 'my name is angelica albert  jones'
#print(list(string))

string = pd.Series(list(string))
#print(string)

#Method 1:
freq = Counter(string)
#print(freq)

least_freq = min(freq, key=freq.get)
#least_freq

result = [] 
for i in string:
    if i == ' ':
        result.append(least_freq)
    else:
        result.append(i)
#print(result)
print(''.join(result))


#Method 2:
#value_counts() will give the count of each value in descending order
fre = string.value_counts()
#print(freq)

#dropna() will let us leave the na value and take the last one which is not na
least_fre = fre.dropna().index[-1]
#print(least_freq)

print(''.join(string.replace(' ', least_fre)))


#One-liner code for method 2:
print(''.join(string.replace(' ', string.value_counts().dropna().index[-1])))

myynameyisyangelicayalbertyyjones
mybnamebisbangelicabalbertbbjones
mybnamebisbangelicabalbertbbjones

In [41]:
# 34. Write a Pandas program to compute the autocorrelations of a given numeric series. 

x = pd.Series(np.random.normal(1,10,15))
#print(x)

x_autocorr = [x.autocorr(i) for i in range(5)]
print(x_autocorr[1:])

[0.3185644419383788, -0.055046587833545, -0.4464751841276835, -0.6651383544988753]