In [19]:
import pandas as pd
import numpy as np

In [3]:
# 1. Write a Python program to create and display a one-dimensional array-like object containing an array of data 
# using Pandas module. 

x = pd.Series([0,1,5,1])
print(x)

0    0
1    1
2    5
3    1
dtype: int64

In [9]:
# 2. Write a Python program to convert a Panda module Series to Python list and it's type. 

x = pd.Series([0,1,5,1])
print(x)

y = x.tolist()
print(y)

print(type(y))

0    0
1    1
2    5
3    1
dtype: int64
[0, 1, 5, 1]
<class 'list'>

In [12]:
# 3. Write a Python program to add, subtract, multiple and divide two Pandas Series. 

x = pd.Series([0,1,5,1])
print(x)

y = pd.Series([1,4,8,2])
print(y)

add = x + y
print(add)

subtract = x - y
print(subtract)

multiply = x * y
print(multiply)

divide = x / y
print(divide)

0    0
1    1
2    5
3    1
dtype: int64
0    1
1    4
2    8
3    2
dtype: int64
0     1
1     5
2    13
3     3
dtype: int64
0   -1
1   -3
2   -3
3   -1
dtype: int64
0     0
1     4
2    40
3     2
dtype: int64
0    0.000
1    0.250
2    0.625
3    0.500
dtype: float64

In [15]:
# 4. Write a Pandas program to compare the elements of the two Pandas Series.

x = pd.Series([0,4,5,1])
print(x)

y = pd.Series([1,4,8,2])
print(y)

print(x == y)
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

0    0
1    4
2    5
3    1
dtype: int64
0    1
1    4
2    8
3    2
dtype: int64
0    False
1     True
2    False
3    False
dtype: bool
0    False
1    False
2    False
3    False
dtype: bool
0     True
1    False
2     True
3     True
dtype: bool
0    False
1     True
2    False
3    False
dtype: bool
0    True
1    True
2    True
3    True
dtype: bool

In [17]:
# 5. Write a Python program to convert a dictionary to a Pandas series.

x = {'Fruit':'Apple', 'Vegetable':'Peas', 'Drink':'Coffee'}
print(x)

print(pd.Series(x))

{'Fruit': 'Apple', 'Vegetable': 'Peas', 'Drink': 'Coffee'}
Fruit         Apple
Vegetable      Peas
Drink        Coffee
dtype: object

In [21]:
# 6. Write a Python program to convert a NumPy array to a Pandas series. 

x = np.array([6,0,9,1,2])
print(x)

print(pd.Series(x))

[6 0 9 1 2]
0    6
1    0
2    9
3    1
4    2
dtype: int64

In [29]:
# 7. Write a Python program to change the data type of a given column or a Series.

x = pd.Series(['0','4.05','591.4','Python'])
print(x)

print(pd.to_numeric(x, errors ='coerce'))

0         0
1      4.05
2     591.4
3    Python
dtype: object
0      0.00
1      4.05
2    591.40
3       NaN
dtype: float64

In [33]:
# 8. Write a Python Pandas program to convert the first column of a DataFrame as a Series.

x = pd.DataFrame({'Col1':['0','4.05','591.4','23'], 'Col2':['0.2','4.0','592','26'], 'Col3':['10','45','594','31']})
print(x)
                  
print(x.iloc[:,0])

    Col1 Col2 Col3
0      0  0.2   10
1   4.05  4.0   45
2  591.4  592  594
3     23   26   31
0        0
1     4.05
2    591.4
3       23
Name: Col1, dtype: object

In [34]:
# 9. Write a Pandas program to convert a given Series to an array. 

x = pd.Series(['0','4.05','591.4','Python'])
print(x)

print(np.array(x))

0         0
1      4.05
2     591.4
3    Python
dtype: object
['0' '4.05' '591.4' 'Python']

In [42]:
# 10. Write a Pandas program to convert Series of lists to one Series. 

x = pd.Series([[1,4,5],[5,6,1],[8,0,9]])
print(x)

print(x.apply(pd.Series))
print(x.apply(pd.Series).stack())
print(x.apply(pd.Series).stack().reset_index(drop = True))

0    [1, 4, 5]
1    [5, 6, 1]
2    [8, 0, 9]
dtype: object
   0  1  2
0  1  4  5
1  5  6  1
2  8  0  9
0  0    1
   1    4
   2    5
1  0    5
   1    6
   2    1
2  0    8
   1    0
   2    9
dtype: int64
0    1
1    4
2    5
3    5
4    6
5    1
6    8
7    0
8    9
dtype: int64

In [46]:
# 11. Write a Pandas program to sort a given Series. 

x = pd.Series([1,4,5,8,0,9])
print(x)

print(x.sort_values())

0    1
1    4
2    5
3    8
4    0
5    9
dtype: int64
4    0
0    1
1    4
2    5
3    8
5    9
dtype: int64

In [49]:
# 12. Write a Pandas program to add some data to an existing Series. 

x = pd.Series([1,4,5,8,0,9])
print(x)

print(x.append(pd.Series([7,6,5])))

0    1
1    4
2    5
3    8
4    0
5    9
dtype: int64
0    1
1    4
2    5
3    8
4    0
5    9
0    7
1    6
2    5
dtype: int64

In [51]:
# 13. Write a Pandas program to create a subset of a given series based on value and condition. 

x = pd.Series([1,4,5,8,0,9])
print(x)

x_subset = x[x < 8]
print(x_subset)

0    1
1    4
2    5
3    8
4    0
5    9
dtype: int64
0    1
1    4
2    5
4    0
dtype: int64

In [53]:
# 14. Write a Pandas program to change the order of index of a given series. 

x = pd.Series(data=[4,5,6,0,1,2,7], index=['A','B','C','D','E','F','G'])
print(x)

print(x.reindex(index=['F','B','A','D','E','G','C']))

A    4
B    5
C    6
D    0
E    1
F    2
G    7
dtype: int64
F    2
B    5
A    4
D    0
E    1
G    7
C    6
dtype: int64

In [55]:
# 15. Write a Pandas program to create the mean and standard deviation of the data of a given Series. 

x = pd.Series([1,4,5,8,0,9])
print(x)

print(x.mean())
print(x.std())

0    1
1    4
2    5
3    8
4    0
5    9
dtype: int64
4.5
3.6193922141707713

In [64]:
# 16. Write a Pandas program to get the items of a given series not present in another given series. 

x = pd.Series([1,4,5,8,0,9])
print(x)

y = pd.Series([2,4,3,8,0,7])
print(y)

print(x[~x.isin(y)])

0    1
1    4
2    5
3    8
4    0
5    9
dtype: int64
0    2
1    4
2    3
3    8
4    0
5    7
dtype: int64
0    1
2    5
5    9
dtype: int64

In [68]:
# 17. Write a Pandas program to get the items which are not common of two given series. 

x = pd.Series([1,4,5,8,0,9])
print(x)

y = pd.Series([2,4,3,8,0,7])
print(y)

union = pd.Series(np.union1d(x,y))
print(union)
intersect = pd.Series(np.intersect1d(x,y))
print(intersect)

0    1
1    4
2    5
3    8
4    0
5    9
dtype: int64
0    2
1    4
2    3
3    8
4    0
5    7
dtype: int64
0    0
1    1
2    2
3    3
4    4
5    5
6    7
7    8
8    9
dtype: int64
0    0
1    4
2    8
dtype: int64

In [72]:
# 18. Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series. 

x = pd.Series([1,4,5,8,0,9])
print(x)

print(np.percentile(x, [0,25,50,75,100]))

0    1
1    4
2    5
3    8
4    0
5    9
dtype: int64
[0.   1.75 4.5  7.25 9.  ]

In [75]:
# 19. Write a Pandas program to calculate the frequency counts of each unique value of a given series.

x = pd.Series([1,4,5,8,0,9,4,5,0,7,9,1,1,1])
print(x)

print(x.value_counts())

0     1
1     4
2     5
3     8
4     0
5     9
6     4
7     5
8     0
9     7
10    9
11    1
12    1
13    1
dtype: int64
1    4
9    2
5    2
4    2
0    2
8    1
7    1
dtype: int64

In [93]:
# 20. Write a Pandas program to display most frequent value in a given series and replace everything else as 'Other' 
# in the series. 

x = pd.Series([1,4,5,8,0,9,4,5,0,7,9,1,1,1])
print(x)

y = x.value_counts()
print(y)

0     1
1     4
2     5
3     8
4     0
5     9
6     4
7     5
8     0
9     7
10    9
11    1
12    1
13    1
dtype: int64
1    4
9    2
5    2
4    2
0    2
8    1
7    1
dtype: int64