In [3]:
import pandas as pd
import numpy as np

In [2]:
# 1. Write a Pandas program to get the powers of an array values element-wise. 

sample = {'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]}
sample_df = pd.DataFrame(sample)
print(sample_df)

    X   Y   Z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83

In [5]:
# 2. Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the 
# index labels.

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df_exam_data = pd.DataFrame(exam_data, labels)
print(df_exam_data)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [9]:
# 3. Write a Pandas program to display a summary of the basic information about a specified DataFrame and its data. 

df_exam_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
name        10 non-null object
score       8 non-null float64
attempts    10 non-null int64
qualify     10 non-null object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes

In [11]:
# 4. Write a Pandas program to get the first 3 rows of a given DataFrame. 

#Method1:
df_exam_data.head(3)

#Method2:
df_exam_data.iloc[:3]

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

In [13]:
# 5. Write a Pandas program to select the 'name' and 'score' columns from the following DataFrame. 

#Method1:
df_exam_data.iloc[:,:2]

#Method2:
df_exam_data[['name','score']]

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

In [15]:
# 6. Write a Pandas program to select the specified columns and rows from a given data frame.

#any specified columns and rows
df_exam_data.iloc[[1,2,6],[2,3]]

   attempts qualify
b         3      no
c         2     yes
g         1     yes

In [24]:
# 7. Write a Pandas program to select the rows where the number of attempts in the examination is greater than 2.

df_exam_data[df_exam_data['attempts'] > 2]

      name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes

In [30]:
# 8. Write a Pandas program to count the number of rows and columns of a DataFrame. 

#To get the names of rows and columns, that is, names in axes
print(df_exam_data.axes)

#Number of axes
print(len(df_exam_data.axes))

#Number of rows 
print(len(df_exam_data.axes[0]))

#Number of columns
print(len(df_exam_data.axes[1]))

[Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object'), Index(['name', 'score', 'attempts', 'qualify'], dtype='object')]
2
10
4

In [34]:
# 9. Write a Pandas program to select the rows where the score is missing, i.e. is NaN.

#first checking which values are NaN and then returning those rows
df_exam_data[df_exam_data['score'].isnull()]

    name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no

In [43]:
# 10. Write a Pandas program to select the rows the score is between 15 and 20 (inclusive). 

#Method1:
df_exam_data[df_exam_data['score'].between(15,20)]

#Method2:
df_exam_data[(df_exam_data['score'] >= 15) & (df_exam_data['score'] <= 20)]

        name  score  attempts qualify
c  Katherine   16.5         2     yes
f    Michael   20.0         3     yes
j      Jonas   19.0         1     yes

In [ ]:
# 11. Write a Pandas program to select the rows where number of attempts in the examination is less than 2 and score 
# greater than 15.

df_exam_data['score'] > 15